#navbar{
  margin-top:60px;
  display: flex;
  align-items: center;
  height: 35px;
  margin-left:9vw;
  margin-right:140px;
}

#options{
  display: flex;
  align-items: center;

}

#settings{
  margin-top:15px;
  position:fixed;
  right:9%;
  width:40px;
}
#meditation{
  width:60px;
  height:55px;
}

#reset{
  width:70px;
  height:70px;
}