body{
  margin: 0px;
  background: #123;
  color: #E0E0E1;
  font-family: 'Roboto', sans-serif;
}

#app{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* padding:2% 9%; */
  padding-bottom:10vw;
}

.icon{
  cursor: pointer;
  z-index: 1;
  height: 40px;
  width: 40px;
}

